@font-face {
  font-family: myFont;
  src: url(F25_Bank_Printer.ttf);
}

 body {
   font-family: myFont;
   background-color: grey;
   color: black;
  } 

h1,h2 {
  font-family: myFont;
}

a { 
  color: white;
  text-decoration: underline;
}
